TELEGRAM_TOKEN = "TOKEN"
BOT_PUBLIC_PORT = 80

SUPER_USER = sudo user id: int

REDIS_HOST = "localhost"
REDIS_PORT = 6379
REDIS_DB_FSM = 0
REDIS_DB_JOBSTORE = 1

POSTGRES_HOST = "localhost"
POSTGRES_PORT = 5432
POSTGRES_PASSWORD = ""
POSTGRES_USER = "aiogram-bot"
POSTGRES_DB = "aiogram-bot"

POSTGRES_URI = f"postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DB}"
